<div
  class="row"
  spx-component="events">
  <div class="col-12 col-sm-6">
    <section
      class="relapse"
      spx-node="events.relapse">
      <details>
        <summary>
          Cyan Fold
        </summary>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        </p>
      </details>
      <details>
        <summary>
          Pink Fold
        </summary>
        <div class="p-3">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
          </p>
        </div>
      </details>
      <details>
        <summary>
          Purple Fold
        </summary>
        <p>
          Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas.
        </p>
      </details>
      <details>
        <summary>
          Green Fold
        </summary>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus. Nec feugiat nisl pretium fusce id velit ut.
        </p>
      </details>
    </section>
  </div>
  <div class="col-12 col-sm-6">
    <div
      class="events bg-black d-block px-1 py-2 rd"
      spx-node="events.log"></div>
  </div>
</div>