<div class="row gx-2 gx-sm-3 jc-center jc-sm-start mt-4 mb-2">
  {%- assign folds = ' Foo, Bar, Baz' | split: ',' -%}
  {%- for item in folds -%}
    <div class="col-4 col-sm-auto">
      <button
        type="button"
        class="btn btn-method bd opener my-3 d-block"
        spx@click="methods.expand"
        spx-methods:fold="{{ forloop.index0 }}"
        spx-node="methods.opener">
        Open {{- item -}}
      </button>
      <button
        type="button"
        class="btn btn-method bd d-block disabled"
        spx@click="methods.collapse"
        spx-methods:fold="{{ forloop.index0 }}"
        spx-node="methods.closer">
        Close {{- item -}}
      </button>
    </div>
  {%- endfor -%}
</div>
<div class="row mt-5">
  <div class="col-12">
    <section
      class="relapse"
      spx-node="methods.relapse">
      <details>
        <summary>
          Foo
        </summary>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        </p>
      </details>
      <details>
        <summary>
          Bar
        </summary>
        <div class="p-3">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus.
          </p>
        </div>
      </details>
      <details>
        <summary>
          Baz
        </summary>
        <p>
          Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas.
        </p>
      </details>
    </section>
  </div>
</div>