<div class="row my-3">
  <div class="col-6">
    <section
      class="options w-100 mb-3"
      data-relapse="multiple-true"
      data-relapse-fold-duration="220"
      data-relapse-multiple="true">
      <details>
        <summary>
          Collapse 0
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>true</code>, all folds in the group can be expanded. Notice how we can open all folds.
        </p>
      </details>
      <details>
        <summary>
          Collapse 1
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>true</code>, all folds in the group can be expanded. Notice how we can open all folds.
        </p>
      </details>
      <details>
        <summary>
          Collapse 2
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>true</code>, all folds in the group can be expanded. Notice how we can open all folds.
        </p>
      </details>
    </section>
  </div>
  <div class="col-6">
    <section
      class="options w-100 mb-3"
      data-relapse="multiple-false"
      data-relapse-fold-duration="220"
      data-relapse-multiple="false">
      <details>
        <summary>
          Collapse 0
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>false</code>, only 1 fold can be opened at a time. Notice how when a fold expands another collapses.
        </p>
      </details>
      <details>
        <summary>
          Collapse 1
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>false</code>, only 1 fold can be opened at a time. Notice how when a fold expands another collapses.
        </p>
      </details>
      <details>
        <summary>
          Collapse 2
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>multiple</code> is set to <code>false</code>, only 1 fold can be opened at a time. Notice how when a fold expands another collapses.
        </p>
      </details>
    </section>
  </div>
</div>