<div class="row my-3">
  <div class="col-6">
    <section
      class="options w-100 mb-3"
      data-relapse="persist-true"
      data-relapse-fold-duration="220"
      data-relapse-persist="true">
      <details>
        <summary>
          Collapse 0
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>true</code> a single fold will always remain open. Try collapsing all the folds in this example. Notice how multiple folds can be opened but not all folds can be closed.
        </p>
      </details>
      <details>
        <summary>
          Collapse 1
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>true</code> a single fold will always remain open. Try collapsing all the folds in this example. Notice how multiple folds can be opened but not all folds can be closed.
        </p>
      </details>
      <details>
        <summary>
          Collapse 2
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>true</code> a single fold will always remain open. Try collapsing all the folds in this example. Notice how multiple folds can be opened but not all folds can be closed.
        </p>
      </details>
    </section>
  </div>
  <div class="col-6">
    <section
      class="options w-100 mb-3"
      data-relapse="persist-false"
      data-relapse-fold-duration="220"
      data-relapse-persist="false">
      <details>
        <summary>
          Collapse 0
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>false</code> all folds can be expanded and collapsed. In this example we set this fold to expand upon initialization, but it can be collapsed, try closing it.
        </p>
      </details>
      <details>
        <summary>
          Collapse 1
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>false</code> all folds can be expanded and collapsed. In this example we set this fold to expand upon initialization, but it can be collapsed, try closing it.
        </p>
      </details>
      <details>
        <summary>
          Collapse 2
        </summary>
        <!-- esthetic-ignore-next -->
        <p>
          When <code>persist</code> is set to <code>false</code> all folds can be expanded and collapsed. In this example we set this fold to expand upon initialization, but it can be collapsed, try closing it.
        </p>
      </details>
    </section>
  </div>
</div>