<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      Relapse
    </title>
    {%- if page.description -%}
      <meta
        name="description"
        content="{{ page.description }}">
    {%- else -%}
      <meta
        name="description"
        content="A lightweight ESM (vanilla) toggle utility for creating dynamic collapsible components">
    {%- endif -%}
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com"
      rel="preconnect">
    <link
      href="https://fonts.gstatic.com"
      crossorigin
      rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
      spx-eval="false">
    <link
      href="{{'/style.css' | url }}"
      rel="stylesheet"
      spx-eval="false">
    <script
      src="{{'/bundle.min.js' | url }}"
      defer
      spx-eval="false"></script>
  </head>

  <body>
    <div class="container-fluid container-xxl py-md-4">

      {%- render 'navbar' -%}
      {%- render 'sidebar', menu: menu, url: page.url -%}

      <div
        id="content"
        class="row jc-center jc-md-start">
        <div
          id="main"
          class="col-11 col-md-8 col-lg-8 col-xl-9 col-xxl-8 pt-3 p-3 p-sm-2 content">
          {{- content -}}
          {%- include 'navigate', navigation: menu -%}
        </div>
      </div>

    </div>

    {%- sprite -%}
  </body>
</html>