<div
  id="navbar"
  class="row ai-center jc-between d-flex d-md-none navbar">
  <div class="col">
    <input
      type="button"
      class="col btn drawer-toggle ml-2 mt-2"
      spx@click="drawer.toggle" />
  </div>
  <div class="col-auto pr-4">
    {%- svg 'logo', 'icon-logo' -%}
  </div>
</div>