<section
  class="relapse w-100"
  data-relapse="showcase"
  data-relapse-multiple="false"
  data-relapse-folding-duration="220"
  data-relapse-folding-persist="false">
  <details open>
    <summary>
      Collapse 0
    </summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    </p>
  </details>
  <details>
    <summary>
      Collapse 1
    </summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus. Nec feugiat nisl pretium fusce id velit ut. Ipsum consequat nisl vel pretium lectus quam id. Sit amet purus gravida quis blandit. Quis auctor elit sed vulputate mi sit. Purus semper eget duis at tellus at urna condimentum mattis. Lacinia at quis risus sed. Venenatis urna cursus eget nunc. Turpis egestas pretium aenean pharetra. Augue eget arcu dictum varius duis at consectetur lorem donec. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Rhoncus dolor purus non enim praesent elementum facilisis. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra. Quisque egestas diam in arcu cursus. Arcu felis bibendum ut tristique et egestas. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit. Ultrices dui sapien eget mi proin sed. Arcu felis bibendum ut tristique et egestas quis. Tincidunt dui ut ornare lectus sit amet est. Penatibus et magnis dis parturient montes nascetur ridiculus mus mauris. Viverra nam libero justo laoreet sit amet cursus. Venenatis lectus magna fringilla urna porttitor rhoncus dolor. Sed cras ornare arcu dui. In mollis nunc sed id semper risus in hendrerit gravida. Odio tempor orci dapibus ultrices in iaculis. Fusce ut placerat orci nulla pellentesque. Sit amet mauris commodo quis imperdiet massa tincidunt nunc 
      pulvinar. Proin libero nunc consequat interdum.
    </p>
  </details>
  <details>
    <summary>
      Collapse 2
    </summary>
    <p>
      Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas. Eget mi proin sed libero enim sed faucibus turpis. Pharetra convallis posuere morbi leo urna molestie. Magna eget est lorem ipsum dolor. Convallis tellus id interdum velit laoreet id. At consectetur lorem donec massa sapien faucibus et molestie. Porttitor lacus luctus accumsan tortor posuere ac.
    </p>
  </details>
  <details>
    <summary>
      Collapse 3
    </summary>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus. Nec feugiat nisl pretium fusce id velit ut. Ipsum consequat nisl vel pretium lectus quam id. Sit amet purus gravida quis blandit. Quis auctor elit sed vulputate mi sit. Purus semper eget duis at tellus at urna condimentum mattis. Lacinia at quis risus sed. Venenatis urna cursus eget nunc. Turpis egestas pretium aenean pharetra. Augue eget arcu dictum varius duis at consectetur lorem donec.
    </p>
  </details>
</section>