<div class="row jc-center px-3">
  <div class="col-12 bg-white py-4 px-5 rd">
    <div
      class="relapse-unstyled"
      data-relapse>
      <button type="button">
        Collapse 0
      </button>
      <section>
        <div hidden>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        </div>
      </section>
      <button type="button">
        Collapse 1
      </button>
      <section>
        <div hidden>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus. Nec feugiat nisl pretium fusce id velit ut. Ipsum consequat nisl vel pretium lectus quam id. Sit amet purus gravida quis blandit. Quis auctor elit sed vulputate mi sit. Purus semper eget duis at tellus at urna condimentum mattis. Lacinia at quis risus sed. Venenatis urna cursus eget nunc. Turpis egestas pretium aenean pharetra. Augue eget arcu dictum varius duis at consectetur lorem donec. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. Rhoncus dolor purus non enim praesent elementum facilisis.
        </div>
      </section>
      <button type="button">
        Collapse 2
      </button>
      <section>
        <div hidden>
          Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas. Eget mi proin sed libero enim sed faucibus turpis. Pharetra convallis posuere morbi leo urna molestie. Magna eget est lorem ipsum dolor. Convallis tellus id interdum velit laoreet id. At consectetur lorem donec massa sapien faucibus et molestie. Porttitor lacus luctus accumsan tortor posuere ac.
        </div>
      </section>
    </div>
  </div>
</div>