<div class="row jc-center px-2">
  <div class="col-12 bg-white py-4 px-5 rd mb-5">
    <section
      class="relapse-unstyled"
      data-relapse>
      <details>
        <summary>
          Collapse 0
        </summary>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        </div>
      </details>
      <details>
        <summary>
          Collapse 1
        </summary>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Ac tortor dignissim convallis aenean et tortor at risus. Nec feugiat nisl pretium fusce id velit ut.
        </div>
      </details>
      <details>
        <summary>
          Collapse 2
        </summary>
        <div>
          Commodo sed egestas egestas fringilla phasellus faucibus.
      </details>
    </section>
  </div>
</div>