<div class="px-5 pt-4">
  <ul class="list tr">
    <li class="mb-2">
      <a
        href="/"
        class="h6 {% if url == '/' %}fw-bold fc-white{% else %}fw-light{% endif %}">
        Intro
      </a>
    </li>
    <li class="mb-2">
      <a
        href="/usage"
        class="h6 {% if url contains '/usage' %}fw-bold fc-white{% else %}fw-light{% endif %}">
        Usage
      </a>
    </li>
    <li class="mb-2">
      <a
        href="/style"
        class="h6 {% if url contains '/style' %}fw-bold fc-white{% else %}fw-light{% endif %}">
        Style
      </a>
    </li>
    <li class="mb-2">
      <a
        href="/examples"
        class="h6 {% if url contains '/example' %}fw-bold fc-white{% else %}fw-light{% endif %}">
        Examples
      </a>
    </li>
    <li class="mb-2">
      <a
        href="https://github.com/panoply/relapse"
        target="_blank"
        class="h6 fw-light">
        Github
      </a>
    </li>
  </ul>
</div>
