/* stylelint-disable function-url-quotes */

.example {
  position: relative;
  display: block;
  border: $border-width solid $border-color;

  &-button {
    width: 100%;
    padding: inherit;
    padding: 10px;
    color: inherit;
    font-size: inherit;
    text-align: left;
    background-color: transparent;
    background-image: url(icon-plus('#fff'));
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    border: none;
    border-bottom: $border-width solid $border-color;
    cursor: pointer;
    user-select: none;

    &:last-of-type:not(.opened) {
      border-bottom: none;
    }

    &.initial,
    &.opened {
      color: inherit;
      background-color: #16181c;
      background-image: url(icon-minus('#fff'));
    }

    &.focused {
      outline: none;
    }

    &.initial {
      color: inherit;
    }

    &.initial + .example-fold {
      max-height: inherit;
      border-bottom: $border-width solid $border-color;
      visibility: visible;
      opacity: 1;

      &:last-of-type {
        border-bottom: none;
      }
    }

    + .example-fold {
      max-height: 0;
      background-color: $code-bg;
      visibility: hidden;
      opacity: 0;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      > :first-child {
        margin: 0;
        padding: $spacer-3;
      }

      &.expanded {
        max-height: inherit;
        border-bottom: $border-width solid $border-color;
        visibility: visible;
        opacity: 1;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}
