/* stylelint-disable function-url-quotes */

/* -------------------------------------------- */
/* NAVBAR                                       */
/* -------------------------------------------- */

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba($color: $body-bg, $alpha: .9) ;
  backdrop-filter: blur(5px);
  z-index: 9999;
  border-bottom: $border-color $border-width solid;

  .icon-logo {
    width: 100px;
    height: 50px;
    color: $gray-500;
    opacity: .4;
  }
}

/* -------------------------------------------- */
/* DRAWER                                       */
/* -------------------------------------------- */

.drawer-toggle {
  background-image: url(icon-menu($white));
  background-repeat: no-repeat;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $drawer-overlay-z-index;
  width: 100%;
  height: 100%;
  background-color: $drawer-overlay-bg;
  visibility: hidden;
  opacity: 0;
  user-select: none;
  backdrop-filter: blur(5px);

  .bg-visible & {
    visibility: visible;
    opacity: 1;

    @include transition(
      visibility 5ms linear $drawer-duration,
      opacity 5ms linear,
      backdrop-filter 5ms linear
    );
  }

  .drawer-open & {
    visibility: visible;
    opacity: 1;
    will-change: transform, opacity;

    @include transition(
      transform $drawer-duration $drawer-easing,
      opacity $drawer-overlay-duration ease,
      backdrop-filter 5ms linear
    );
  }
}

/* -------------------------------------------- */
/* DROPDOWN                                     */
/* -------------------------------------------- */

.dropdown-versions {
  border-color: $border-color;

  &.is-open {
    > .btn {
      background-image: url(icon-arrow($white));

      + ul {
        display: flex;
      }
    }
  }
  .btn {
    background-image: url(icon-arrow($link-color));
    background-position: right 0 center;
    background-size: 12px;
    border: none;
    width: 55px;
    padding-right: 5px;
    padding-left: 0;
    font-size: $font-size-xs;
    font-family: $font-family-heading;
    color: $link-color !important;
    > span {
      padding-right: 2px;
    }
  }

  .btn + ul {
    left: -4px;
    width: 85%;
    border: none;
    flex-direction: column-reverse;



    > li {
      flex: 0 0 auto;
      justify-content: start;
      padding-left: 8px;
      padding-top: 2.5px;
      background-color: #1c2028;

      &:hover {
        background-color: #1c2028;
      }

      a {
          font-size: .725rem !important;
          text-transform: lowercase;

          &:hover {
            font-weight: 600;
            color: $white;
          }
        }
    }
  }
}
/* -------------------------------------------- */
/* MAKDOWN QUOTES                               */
/* -------------------------------------------- */

blockquote {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 40px;
  padding: 10px;
  padding-left: 55px;
  background-color: #1a1e26;
  background-image: url(icon-bell($gray-600));
  background-repeat: no-repeat no-repeat;
  background-position: 20px center;
  background-size: 20px;
  border: $border-width $border-color solid;
  border-radius: 0.5rem;

  > p code {
    color: #76fffc;
  }

  > p {
    margin: 0;
    color: $body-color;
    font-weight: 200;
    font-family: $font-family-base;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* -------------------------------------------- */
/* INLINE CODE                                  */
/* -------------------------------------------- */

:not(pre) > code {
  padding: 0.2em 0.5em 0.3em;
  color: #fff;
  font-weight: 500;
  font-size: 0.79rem;
  font-family: $papyrus-font-family;
  text-shadow: #232930;
  background-color: #232930;
  border-radius: 0.2rem;
  -webkit-font-smoothing: antialiased;
}

h3 > code {
  font-weight: 100;
  font-size: 1rem;
}

pre.papyrus[data-papyrus='static']
  > code[class*='language-']
  > div.line-numbers {
  height: 100%;
}

/* -------------------------------------------- */
/* EVENTS                                       */
/* -------------------------------------------- */

.events {
  height: 400px;
  overflow-y: scroll;
  width: 100%;
  position: relative;

  &::-webkit-scrollbar {
    width: var(--papyrus-scrollbar-width);
    height: var(--papyrus-scrollbar-width);
  }


  &::-webkit-scrollbar-track {
    background: var(--papyrus-scrollbar-track);
  }


  &::-webkit-scrollbar-thumb {
    background: var(--papyrus-scrollbar-thumb);

    &:hover {
      background: var(--papyrus-scrollbar-thumb-hover);
    }
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  .line {
    width: 100%;
    border-bottom: $cyan 0.01rem solid;
    margin-bottom: 8px;
    margin-top: 5px;
  }

  .message {
    color: $white;
    font-family: $font-family-code;
    font-size: .775rem;
    position: relative;
    padding-left: 40px;

    &::before {
      color: var(--papyrus-line-number-color);
      content: attr(aria-label);
      position: absolute;
      left: 5px;
      width: 15px;
      text-align: right;
    }

  }
}

/* -------------------------------------------- */
/* METHODS                                      */
/* -------------------------------------------- */

.btn-method {
  border-radius: $border-radius;
  color: $link-color;
  font-family: $font-family-heading;
  font-size: .705rem;
  padding-left: 10px;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 100px;
  }

  &.disabled {
    transition: opacity 200ms linear;
    opacity: .3;
  }


  &.active {
    color: $white;
    font-weight: 600;

    &.disabled {
      opacity: 1;
    }
  }


  &:hover {
    background-color: transparent;
    color: $white;
    font-weight: 600;
  }
}

/* -------------------------------------------- */
/* TABLE                                        */
/* -------------------------------------------- */

table {
  width: 100%;
}

/* -------------------------------------------- */
/* NAVIGATE                                     */
/* -------------------------------------------- */

.navigate {


  a {
    font-family: $font-family-heading;
    color: $link-color;
    border: $border-width $border-color solid;
    border-radius: 5px;
    padding: 10px 25px;
    text-align: center;

    &.prev {
      padding: 5px 20px 5px 10px;
    }

    &.next {
      padding: 5px 10px 5px 20px;
    }
    &:hover {
      color: $white;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
