
.sidebar {
  background-color: $body-bg;



  .icon-logo {
    width: 100px;
    height: 30px;
    color: $gray-700;
    stroke: #16181c;
    stroke-width: 1px;
    stroke-linejoin: round;

    @include media-breakpoint-up(md) {
      width: 90px;
    }
    @include media-breakpoint-up(lg) {
      width: 100px;
    }
  }

  a,
  summary {
    font-family: $font-family-heading;
    text-transform: uppercase;
    font-size: 0.795rem;
    margin-bottom: 5px;

    &.active {
      font-weight: 600;
      color: $white;
    }
  }

  .sub-list {
    margin-left: 2px;
    border-left: $border-width solid $border-color;

    > li {
      display: flex;
      flex-direction: column;
      position: relative;

      > a {

        &[aria-expanded="true"],
        &[aria-expanded="false"] {
          background-repeat: no-repeat;
          background-position: right 0px center;
          background-size: 15px;
        }

        &[aria-expanded="true"] {
          background-image:url(icon-minus($white));
        }


        &[aria-expanded="false"] {
          background-image: url(icon-plus($white));
        }


        + .child-list {
          margin-left: 2px;
          border-left: $border-width solid $border-color;
          max-height: fit-content;

          > li {
            display: flex;
            flex-direction: column;
            position: relative;


            > a {
              font-size: 0.795rem !important;
              margin-bottom: 4px;
            }
          }

        }
      }

    }
  }

  @include media-breakpoint-up(md) {
    position: fixed;
    display: block !important;
    width: 200px !important;
    height: 100vh;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  @include media-breakpoint-up(lg) {
    position: fixed;
    display: block !important;
    width: 250px !important;
    height: 100vh;
    transform: translateX(0);
  }


  @include media-breakpoint-up(xl) {
    position: fixed;
    display: block !important;
    width: 220px !important;
    height: 100vh;
    transform: translateX(0);
  }

  @include media-breakpoint-up(xxl) {
    position: absolute;
    display: block !important;
    width: 250px;
    height: 100%;
    transform: translateX(0);

    .sidebar-inner {
      position: sticky;
      top: 0;
    }
  }

  details[open] > summary {
    color: $white;
    font-weight: $font-weight-bolder;
    background-image: url(icon-minus($white));
  }

  details > summary {
    list-style-type: none;
    margin-bottom: 0;
    color: $link-color;
    background-image: url(icon-plus($link-color));
    background-repeat: no-repeat;
    background-position: right 0px center;
    background-size: 15px;

    &::-webkit-details-marker {
      display: none;
    }

    &:hover {
      color: $link-hover-color;
    }
  }
}

.container-xxl {
  position: relative;
}

.content {

  @include media-breakpoint-up(md) {
    margin-left: 235px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 300px;
  }

  @include media-breakpoint-up(xl) {
    margin-left: 250px;
  }

  @include media-breakpoint-up(xxl) {
    margin-left: 20%;
  }
}
// .content {
//   @include media-breakpoint-up(md) {
//     margin-left: 250px !important;
//   }

//   @include media-breakpoint-up(xxl) {
//     padding-left: 340px !important;
//   }
// }
