<section
  class="relapse w-100"
  data-relapse="initial"
  data-relapse-speed="250"
  data-relapse-persist="false"
  data-relapse-multiple="false">
  <button type="button" class="relapse-button initial">
    Collapse 0
  </button>
  <section class="relapse-fold">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    </p>
  </section>
  <button type="button" class="relapse-button">
    Collapse 1
  </button>
  <section class="relapse-fold" aria-hidden="true">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
    </p>
  </section>
  <button type="button" class="relapse-button">
    Collapse 2
  </button>
  <section class="relapse-fold" aria-hidden="true">
    <p>
      Commodo sed egestas egestas fringilla phasellus faucibus. Eu tincidunt tortor aliquam nulla facilisi cras fermentum. Nullam eget felis eget nunc lobortis mattis. Et netus et malesuada fames ac turpis egestas maecenas. Vitae turpis massa sed elementum tempus egestas. Eget mi proin sed libero enim sed faucibus turpis. Pharetra convallis posuere morbi leo urna molestie. Magna eget est lorem ipsum dolor. Convallis tellus id interdum velit laoreet id. At consectetur lorem donec massa sapien faucibus et molestie. Porttitor lacus luctus accumsan tortor posuere ac.
    </p>
  </section>
</section>