/* stylelint-disable-next-line max-line-length */
$accordion-icon-opened: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='inherit' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M9 18l6-6-6-6'/%3E%3C/svg%3E%0Aff" !default;

/* stylelint-disable-next-line max-line-length */
$accordion-icon-closed: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='inherit' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E%0Aff" !default;

$accordion-border: 1px solid hotpink !default;
$accordion-btn-bg: transparent !default;

@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  min-height: 100vh;
  margin: 50px;
  padding: 50px;
  color: $gray;
  font-family: Hind, sans-serif;
  background: $bg;
}

.container {
  width: 48rem;
  margin: 0 auto;
  padding: 4rem;
}

.accordion {
  position: relative;
  border: 1px solid $lightgray;

  button {
    position: relative;
    display: block;
    width: 100%;
    padding: 1em 0;
    color: $text;
    font-weight: 400;
    font-size: 1.15rem;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid $lightgray;
    outline: none;

    &[aria-expanded="true"] {
      color: $blue;
      border-bottom: 1px solid $blue;
    }


    &:hover,
    &:focus {
      color: $blue;
      cursor: pointer;
    }
  }


  section {
    height: 0;
    overflow: hidden;
    opacity: 0;
    will-change: opacity, height;
  }
}
