/* stylelint-disable function-url-quotes */

blockquote {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-right: 15px;
  margin-bottom: 40px;
  padding: 10px;
  padding-left: 55px;
  background-color: #1a1e26;
  background-image: url(icon-bell($gray-600));
  background-repeat: no-repeat no-repeat;
  background-position: 20px center;
  background-size: 20px;
  border: $border-width $border-color solid;
  border-radius: 0.5rem;

  > p code {
    color: #76fffc;
  }

  > p {
    margin: 0;
    color: $body-color;
    font-weight: 200;
    font-family: $font-family-base;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
