/* stylelint-disable function-url-quotes */

.sibling-relapse {
  position: relative;
  display: block;
  border: $border-width solid $border-color;

  .sibling-button {
    width: 100%;
    padding: inherit;
    padding: 10px;
    color: inherit;
    font-size: inherit;
    text-align: left;
    background-color: #16181c;
    background-image: url(icon-plus('#fff'));
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 15px;
    border: none;
    border-bottom: $border-width solid $border-color;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #222c38;
    }

    &:last-of-type:not(.opened) {
      border-bottom: none;
    }

    &.opened {
      color: inherit;
      background-image: url(icon-minus('#fff'));
    }

    &.focused {
      outline: none;
    }

    &.initial {
      color: inherit;
    }

    + .sibling-fold {
      max-height: 0;
      background-color: #0f1215;
      overflow: hidden;

      > :first-child {
        margin: 0;
        padding: $spacer-3;
      }

      &.expanded {
        max-height: inherit;
        border-bottom: $border-width solid $border-color;
        background-color: #0f1215;
        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    &[aria-expanded='true'] + .sibling-fold {
      max-height: inherit;
      border-bottom: $border-width solid $border-color;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
